<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

</head>
<body>
    @*<div>
        <p style="color:black; font-size:22px; margin:1%; text-align:left">Cor2tect</p>
    </div>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Customer Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                @Html.ActionLink("CMS", "Index", "Clients", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">


                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a>Dear - @User.Identity.Name</a></li>


                        <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                        <li>@Html.ActionLink("Agents", "Index", "Agents")</li>
                        <li>@Html.ActionLink("Status", "Index", "Status")</li>
                        <li>@Html.ActionLink("Sources", "Index", "Sources")</li>


                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                    @*else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }*@

                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h4>&copy; @DateTime.Now - Customer Management System</h4>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".date-picker").datepicker({
                dateFormat: 'dd/MM/yy'
            });

        });
    </script>

</body>
</html>
