@model CustomerManagementSystem.Models.User

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="jumbotron">
        <h1>Customer Management System</h1>
        <p style="font-size:24px; font-weight:bold; color:blueviolet">ASP.NET MVC5</p>

        <p class="lead" style="text-align:justify; ">
            This is a demo of the Customer Management System.
            You can manage your small business with this web application.
            Let's have a try with "admin" and "1020304050" as Username and Password respectively. 
            If you don't use that you can sign up for yourself.
        </p>

        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    </div>

        <div class="form-horizontal">
            @*<h4>User</h4>*@
            @*<h4>
                    This is a demo of the Customer Management System. You can manage your small business with this web application.
                    This project is done with ASP.NET framework and design pattern is MVC5
                </h4>*@


            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log In" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Click to Sign Up", "Signup")
    </div>
</body>
</html>
